:root {
    --main-color: #3d3d6b;
}

.al-input-div {
    position: relative;
    height: 50px;
    width: 65%;
    margin-top: -20px
}

:focus {
    outline: none;
}

.al-input {
    border: 0; 
    padding: 7px 0; 
    border-bottom: 1px solid #ccc;
    width: 100%;
    top: 20px;
    position: absolute;
    height: 30px;
    text-indent: 5px;
    font-size: 17px;
    padding-bottom: 0px;
}

.al-input ~ .al-input-focus-border {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: var(--main-color); 
    transition: 0.4s;
}

.al-input:focus ~ .al-input-focus-border {
    width: 100%; 
    transition: 0.4s;
}

.al-input::-webkit-input-placeholder {
    color: #999;
}
.al-input:focus::-webkit-input-placeholder {
    color: transparent;
}


  
  .button-wrapper{
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }
  
  button{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
  }
  
  button:hover{
    background: var(--main-color);
    color: #fff;
  }
  
  button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
  .success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
  .success svg{
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
  button.is_active{
    width: 40px;
    height: 40px;
  }
  
  button.is_active .success{
    opacity: 1;
    visibility: visible;
  }
  
  button.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  button.is_active span{
    opacity: 0;
    visibility: hidden;
  }

  
