.more-details-div {
    opacity: 0;
    z-index: -1;
    transition: 0s;
}

.more-details-div.active {
    opacity: 100;
    z-index: 1;
    transition: .75s;
}

.rating-wrapper {
    display: flex;
}

.stars-wrapper {
    width: 70%;
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 8px;
}

.clip-star {
    background: #b9b9b9;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .rating-text {
      margin-bottom: 40px;
  }
  