.sign-up-popup {
    position: absolute;
    opacity: 0%;
    z-index: -1;
    background-color: #03a2ff;
    height: 400px;
    margin-bottom: 70px;
    width: 350px;
    border-radius: 4px;
    top: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.sign-up-popup.sup-active {
    opacity: 100%;
    transition: .3s ease-in;
    z-index: 1;
}

#email-signup-input {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 70%;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    text-indent: 4px;
}

#first-name-signup-input {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 30%;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    text-indent: 4px;
}

#last-name-signup-input {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 50%;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    text-indent: 4px;
}

#sign-up-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#sign-up-button {
    position: absolute;
    width: 100%;
    top: 90%;
    height: 50px;
    border-style: none;
    border-radius: 0px 0px 4px 4px;
    left: 0;
    right: 0;
}

.popup-title-text {
    position: absolute;
    left: 30%;
    top: 30px;
    color: white;
    font-size: 50px;
}

.close-button {
    position: absolute;
    right: 10px;
    color: white;
    cursor: pointer;
}